In [1]:
import numpy as np
import pandas as pd

In [3]:
myindex = ['USA', 'Canada', 'Mexico'] 
mydata = [1776, 1867, 1821]
myser = pd.Series(data=mydata, index=myindex)
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [4]:
myser[0]

1776

In [5]:
myser['USA']

1776

In [6]:
#Also, you can transform a dictionary into a pandas series:
ages = {'Sam':5, 'Frank':10, 'Spike':7}
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [7]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [8]:
# Convert into Pandas Series:
Sales_Q1 = pd.Series(q1)
Sales_Q2 = pd.Series(q2)

In [10]:
Sales_Q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [12]:
#Grab just index keys:
Sales_Q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [13]:
# Pandas is smart enough to match Series based on the Index, for example, but dumb enough to not know what to do when indexes don't match:

In [15]:
Sales_Q1 + Sales_Q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [17]:
#How to add the series without having NaNs:
Sales_Q1.add(Sales_Q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [19]:
# You can check out the data type of a series by using:
Sales_Q1.dtype

dtype('int64')