## Natural Language Processing:
- Consists on extracting features from text data.

## Objective: 
- Manually transform text data into numeric data.

In [2]:
with open('One.txt') as mytext:
    a = mytext.read()

In [3]:
a

'This is a story about dogs\nour canine pets\nDogs are furry animals\n'

In [4]:
print(a)

This is a story about dogs
our canine pets
Dogs are furry animals

#### Create a list with the lines of the text:

In [6]:
with open('One.txt') as mytext:
    a = mytext.readlines()

In [7]:
a

['This is a story about dogs\n',
 'our canine pets\n',
 'Dogs are furry animals\n']

#### Split the text by words:

In [8]:
with open('One.txt') as mytext:
    a = mytext.read()

In [9]:
a.lower().split()

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

#### Create sets for both One.txt and Two.txt :

In [10]:
with open('One.txt') as mytext:
    words_one = mytext.read().lower().split()
    uni_words_one = set(words_one)

In [11]:
uni_words_one

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [12]:
with open('Two.txt') as mytext:
    words_two = mytext.read().lower().split()
    uni_words_two = set(words_two)

In [13]:
uni_words_two

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

Create a set with all the unique words from One.txt and Two.txt :

In [14]:
all_uni_words = set()

In [15]:
all_uni_words.update(uni_words_one)

In [16]:
all_uni_words.update(uni_words_two)

Create a dictionary with the vocabulary to assign indices to each word:

In [17]:
full_vocab = dict()
i = 0

for word in all_uni_words:
    full_vocab[word] = i
    i = i + 1

In [19]:
full_vocab # It is completely normal to have this set in a different order because Python iterates through it using the most efficient way

{'fun': 0,
 'furry': 1,
 'a': 2,
 'popular': 3,
 'about': 4,
 'animals': 5,
 'catching': 6,
 'our': 7,
 'sport': 8,
 'this': 9,
 'is': 10,
 'story': 11,
 'pets': 12,
 'are': 13,
 'canine': 14,
 'surfing': 15,
 'waves': 16,
 'dogs': 17,
 'water': 18}

#### Creation of frequency lists:

In [20]:
one_freq = [0]*len(full_vocab)

In [21]:
two_freq = [0]*len(full_vocab)

In [22]:
all_words = ['']*len(full_vocab)

In [23]:
with open('One.txt') as f:
    one_text = f.read().lower().split()

In [24]:
for word in one_text:
    word_ind = full_vocab[word]
    one_freq[word_ind] += 1

In [25]:
one_freq

[0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 2, 0]

In [26]:
with open('Two.txt') as f:
    two_text = f.read().lower().split()

In [27]:
for word in two_text:
    word_ind = full_vocab[word]
    two_freq[word_ind] += 1

In [28]:
two_freq

[1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 3, 1, 0, 0, 0, 2, 1, 0, 1]

In [29]:
# Now, fill all_words list:
for word in full_vocab:
    word_ind = full_vocab[word]
    all_words[word_ind] = word

In [30]:
all_words

['fun',
 'furry',
 'a',
 'popular',
 'about',
 'animals',
 'catching',
 'our',
 'sport',
 'this',
 'is',
 'story',
 'pets',
 'are',
 'canine',
 'surfing',
 'waves',
 'dogs',
 'water']

#### Create a Data Frame to organize everything:

In [31]:
import pandas as pd

In [34]:
bow = pd.DataFrame(data=[one_freq, two_freq], columns=all_words)

In [35]:
bow

,fun,furry,a,popular,about,animals,catching,our,sport,this,is,story,pets,are,canine,surfing,waves,dogs,water
0,0,1,1,0,1,1,0,1,0,1,1,1,1,1,1,0,0,2,0
1,1,0,1,1,1,0,1,0,1,1,3,1,0,0,0,2,1,0,1